@use "./colors.scss";
// 1581px
@media screen and (max-width: 98.8125rem) {
    .header {
        height: 100vh;
    }

    .main {
        flex-direction: row;
        height: 100%;

        &_wrapper {
            transform: translateY(0);
            width: 100%;
        }

    }

    .projecten{
        width: 90%;
        border-radius: 1rem;
    }


}

// 1500px
@media screen and (max-width: 93.75rem) {
    .footer {
        background: linear-gradient(60deg, colors.$darkest_red 30%, colors.$red 0);


        &_wrapper {
            flex-direction: column;
            gap: 2rem;
        }


    }
}

// 1000px

@media screen and (max-width: 62.5rem) {
    .nav {
        gap: 2rem;
        &_form {
            top: 10rem;
            right: 30rem;
            width: max-content;
            &_fixed {
                background: colors.$darkest_red;
            }
        }

        &_submit {
            background: colors.$red;
        }

        &_input {
            border: colors.$red 0.3rem solid;
        }


    }

    .main{
        height: 100%;
        &_wrapper{
            flex-direction: column;
        }
    }
    .description{
        width: 90%;
        height: 100%;
    }
    .slider{
        width: 90%;
    }
    .projecten{
        width: 90%;
    }

}

//900px
@media screen and (max-width: 56.25rem) {
    .footer{
        background: linear-gradient(60deg, colors.$darkest_red 40rem, colors.$red 0);


        &_bottom{
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .nav{
        &_search {
            display: none;
            &-small{
              display: block;
            }
          }
          &_hamburgMenu {
            display: none;
            &-small{
              display: block;
            }
          }
    }
    
}

//700px
@media screen and (max-width: 43.75rem) {
    .nav {
        &_right{
            justify-content: end;
        }
        &_form {
            left: 0;
            background: colors.$darkest_red_transparant;

        }
    }
    .footer{
        background: linear-gradient(60deg, colors.$darkest_red 70rem, colors.$red 0);

    }

    
}

// 625px
@media screen and (max-width: 39.0625rem) {
    .nav{
        &_titel{
            font-size: 150%;
        }
    }
    
}

//555px
@media screen and (max-width: 34.6875rem) {
    .nav{
        &_titel{
            font-size: 125%;
            font-weight: 700;
        }
        &_left{
            gap: 3rem;
        }
    }
    
}

//500px

@media screen and (max-width: 31.25rem) {
    .nav{
        &_right{
            gap: 3rem;
        }
        &_search{
            &-small{
                font-size: 125%;
            }

        }
        &_hamburgMenu{
            &-small{
                width: 5rem;
            }
            
        }
    }
    
}

//410px

@media screen and (max-width: 25.625rem) {
    .nav{
        background: linear-gradient(60deg, colors.$darkest_red_transparant 17rem, colors.$red_transparant 0);

        &_fixed {
            background: linear-gradient(60deg, colors.$darkest_red 17rem, colors.$red 0);
        }
    }
    
}