@use "./colors.scss";
// 1581px
@media screen and (max-width: 98.8125rem) {
    .header {
        height: 100vh;
    }

    .main {
        flex-direction: row;
        height: 100%;

        &_wrapper {
            transform: translateY(0);
            width: 100%;
        }

    }


}

// 1500px
@media screen and (max-width: 93.75rem) {
    .footer {
        background: linear-gradient(60deg, colors.$darkest_red 30%, colors.$red 0);


        &_wrapper {
            flex-direction: column;
            gap: 2rem;
        }


    }
}

// 1000px

@media screen and (max-width: 62.5rem) {
    .nav {
        flex-direction: column;
        gap: 2rem;
        height: max-content;

        &_left,
        &_right {
            justify-content: space-between;
            width: 100%;
        }

        &_menu {
            top: 16.7rem;
        }

        &_search{
            color: colors.$red;
        }
        &_form {
            top: 16.7rem;
            left: 0;
            width: max-content;
            background: colors.$darkest_red_transparant;

            &_fixed {
                background: colors.$darkest_red;
            }
        }

        &_submit {
            background: colors.$red;
        }

        &_input {
            border: colors.$red 0.3rem solid;
        }


    }

    .main{
        height: 100%;
        &_wrapper{
            flex-direction: column;
        }
        &_description{
            width: 90%;

        }

    }
    .slider{
        width: 90%;
    }

}

//900px
@media screen and (max-width: 56.25rem) {
    .footer{
        background: linear-gradient(60deg, colors.$darkest_red 40rem, colors.$red 0);


        &_bottom{
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .nav{
        &_search {
            display: none;
            &-small{
              display: block;
            }
          }
          &_hamburgMenu {
            display: none;
            &-small{
              display: block;
            }
          }
    }
    
}

//700px
@media screen and (max-width: 43.75rem) {
    .footer{
        background: linear-gradient(60deg, colors.$darkest_red 70rem, colors.$red 0);

    }
}

// 625px
@media screen and (max-width: 39.0625rem) {
    .nav{
        &_titel{
            font-size: 150%;
        }
    }
    
}

//555px
@media screen and (max-width: 34.6875rem) {
    .nav{
        &_titel{
            font-size: 125%;
            font-weight: 700;
        }
        &_left{
            gap: 3rem;
        }
    }
    
}

//500px

@media screen and (max-width: 31.25rem) {
    .nav{
        &_titel{
            font-size: 90%;
        }
    }
    
}