@use "../../components/colors.scss";
@use "../../components/animations.scss";

@keyframes slide-in-top {
  from {
    transform: translateY(-30rem)
  }

  to {
    transform: translateY(0);
  }
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../../../img/gebouwen.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

.nav {
  width: 100%;
  height: 10rem;
  background: linear-gradient(60deg, colors.$darkest_red_transparant 20rem, colors.$red_transparant 0);
  padding: 2rem 3rem;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &_fixed {
    background: linear-gradient(60deg, colors.$darkest_red 20rem, colors.$red 0);
    animation: slide-in-top .3s ease-in-out;
    position: fixed;
  }

  &_left {
    display: flex;
    gap: 5rem;
    justify-content: center;
  }

  &_titel {
    color: colors.$darkest_red;
    text-decoration: none;
    font-size: 175%;
    font-weight: 700;
  }

  &_right {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    width: 40rem;
  }

  //search

  &_search {
    color: colors.$darkest_red;
    font-size: 150%;
    cursor: pointer;
    &-small{
      display: none;
    }
  }

  &_form {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 10rem;
    right: 30rem;
    background: colors.$red_transparant;
    padding: 2rem;

    &_fixed{
      background: colors.$red;
    }
  }

  &_input {
    font-size: 120%;
    font-weight: 700;
    border: colors.$darkest_red 0.3rem solid;
    outline: none;
    padding: 0.2rem;
  }

  &_submit {
    border: none;
    background: colors.$darkest_red;
    color: colors.$white;
    padding: 1rem 2rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    font-size: 120%;
  }

  //menu

  &_hamburgMenu {
    width: 7.5rem;
    &-small{
      display: none;
    }
  }

  &_menu {
    position: absolute;
    top: 10rem;
    right: 0;
    width: 30rem;
    height: min-content;
    background: colors.$red_transparant;
    padding: 1rem 2rem;

    &_fixed {
      background: colors.$red;
    }
  }

  &_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;


  }

  &_listTitel {
    font-size: 150%;
    font-weight: 700;
    color: colors.$white;
    text-decoration: none;

  }

  &_listItem {
    font-weight: 500;
    font-size: 120%;
    color: colors.$white;
    text-decoration: none;

  }
}


.logo {
  width: 100%;
  display: flex;
  gap: 1rem;

  &_link {
    font-style: none;
    text-decoration: none;
  }

  &_text {
    color: colors.$red;
  }

  &_img {
    height: 6.8rem;
  }
}