$bright_red : #ff3434;
$red: #ff0101;
$red_transparant: #ff0101c9;
$dark_red:#cd0000;
$darkest_red: #780000;
$darkest_red_transparant: #780000cc;



$white: #ffffff;
$white_grey: #eeeeee;
$light_grey: #a2a2a2;
$grey: #666666;
$dark_grey: #3c3c3c;
$black: #000000;
$black_transparant: #0000009c;

$blue: #004699
